@page
@model BoardEx.Web.Pages.Admin.LogsModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Logs</h1>
    </div>
</div>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>aa</h1>
        <h2>@ViewData["test"]</h2>
        
    </div>
</body>