@page
@model BoardEx.Web.Pages.Admin.Posts.AddModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
	<div class="container">
		<h1>Add a new board game post</h1>
	</div>
</div>

<div>
	<div class="container">
		<form method="post">
			<div class="mb-3">
				<label for="name" class="form-label">Pavadinimas</label>
				<input type="text" class="form-control" id="name" asp-for="AddBoardAdRequest.Name">
			</div>

			<div class="mb-3">
				<label for="city" class="form-label">Miestas</label>
				<input type="text" class="form-control" id="city" asp-for="AddBoardAdRequest.City">
			</div>

			<div class="mb-3">
				<label for="content" class="form-label">Aprašymas</label>
				<textarea class="form-control" id="content" asp-for="AddBoardAdRequest.Content"></textarea>
			</div>

			<div class="mb-3">
				<label for="price" class="form-label">Kaina</label>
				<input type="number" class="form-control" id="price" asp-for="AddBoardAdRequest.Price">
			</div>

			<div class="mb-3">
				<label for="featuredImageUrl" class="form-label">Nuotrauka</label>
				<input type="text" class="form-control" id="featuredImageUrl" asp-for="AddBoardAdRequest.FeaturedImageUrl">
			</div>

			<div class="mb-3">
				<label for="publishedDate" class="form-label">Skelbimo įdėjimo data</label>
				<input type="date" class="form-control" id="publishedDate" asp-for="AddBoardAdRequest.PublishedDate">
			</div>

			<div class="mb-3">
				<label for="author" class="form-label">Autorius</label>
				<input type="text" class="form-control" id="author" asp-for="AddBoardAdRequest.Author">
			</div>

			<div class="form-check mb-3">
				<input class="form-check-input" type="checkbox" id="isSold" asp-for="AddBoardAdRequest.IsSold" />
				<label for="isSold" class="form-check-label">
					Parduota
				</label>
			</div>

			<div class="mb-3">
				<button class="btn btn-primary" type="submit">Įkelti</button>
			</div>
		</form>
	</div>
</div>