@page "/skelbimai"
@model BoardEx.Web.Pages.Admin.Posts.UserListModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
	<div class="container">
		<h1>BoardEx</h1>
	</div>
</div>

<partial name="_Notification">

@if (Model.BoardAds != null && Model.BoardAds.Any())
{
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<td>Id</td>
					<td>Pavadinimas</td>
					<td> </td>
				</tr>
			</thead>7
			<tbody>
				@foreach (var boardAd in Model.BoardAds)
				{
					<tr>
						<td>@boardAd.Id</td>
						<td>@boardAd.Name</td>
						<td><a href="/admin/posts/edit/@boardAd.Id">Peržiūrėti</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<div class="container">
		<p>Jokių skelbimų nerasta!</p>
	</div>
}