.button {
    color: #ffffff !important;
    background-color: #786E6F !important;
    border-color: ##786E6F !important;
}

    .button:hover {
        background-color: #605858 !important;
        border-color: #605858 !important;
    }

    .button:active {
        background-color: #484242 !important;
    }


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.board-details img {
    max-width: 100%;
}
