@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <div class="container pl-4 pr-4">
    <div class="mt-3">
      <h1>BoardEx</h1>
        <p>Board game exchange site.</p>
    </div>
    <div class="text-center">
      <a class="button btn mt-3 col-12 col-sm-auto" href="/Index" role="button">Home</a>
      <a class="button btn mt-3 col-12 col-sm-auto ml-sm-3 mr-sm-3" href="/Admin/logs" role="button">Logs</a>
      <a class="button btn mt-3 col-12 col-sm-auto mr-3" href="/Admin/Posts/Add" role="button">Add</a>
      <a class="button btn mt-3 col-12 col-sm-auto" href="/Admin/Posts/List" role="button">List</a>
    </div>
  </div>
</div>
