@page
@model BoardEx.Web.Pages.RegisterModel
@{
}


<div class="container mx-auto">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">

			<h1 class="mt-5 mb-3 h3">Registracija</h1>

			<partial name="_Notification"></partial>

			<form method="post">
				
				<div class="mb-3">
					<label class="form-label">Vartotojo vardas</label>
					<input type="text" class="form-control" asp-for="RegisterViewModel.Username" required />
					<span class="text-danger" asp-validation-for="RegisterViewModel.Username"></span>
				</div>

				<div class="mb-3">
					<label class="form-label">El. paštas</label>
					<input type="email" class="form-control" asp-for="RegisterViewModel.Email" required />
					<span class="text-danger" asp-validation-for="RegisterViewModel.Email"></span>
				</div>

				<div class="mb-3">
					<label class="form-label">Slaptažodis</label>
					<input type="password" class="form-control" asp-for="RegisterViewModel.Password" required minlenght="6" />
					<span class="text-danger" asp-validation-for="RegisterViewModel.Password"></span>
				</div>

				<div class="mb-3">
					<button type="submit" class="btn bg-dark text-light">Registruotis</button>
				</div>

			</form>
		</div>
	</div>
</div>